<a href="https://colab.research.google.com/github/kinimuso/WTM-GDG-Bambili-100-Days-of-Code-Datascience/blob/main/Day_3_python_processes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
answer = 1 + 1
print (answer)

2

this code line performs basic arithmetic using th "+" operator

In [4]:
var1 = 2+2
print(var1)
#var1 is of type int

4

this code declares a variable and determines the data type of items contained in that variable with data type int

In [5]:
var2 = 3+2/5
print(var2)
#var2 is of type float

3.4

this code declares a variable and determines the data type of items contained in that variable with data type float

In [6]:
var3 = 4*16
print(var3)
#var3 is of type int

64

this code declares a variable and determines the data type of items contained in that variable with data type int

In [7]:
var4 = 4**6
print(var4)
#var3 is of type int

4096

this code declares a variable and determines the data type of items contained in that variable with data type int

In [8]:
var5 = 'Hello' + ' ' + 'world'
print(var5)
#var5 is of type string

Hello world

this code declares a variable and determines the data type of items contained in that variable with data type string

In [10]:
var6 = 'Hello world'
print(var6 * 5)
#var6 is of type string

Hello worldHello worldHello worldHello worldHello world

this code declares a variable and determines the data type of items contained in that variable with data type string

In [14]:
var7 = 4//3
print(var7)
#var5 is of type int

1

this code declares a variable and determines the data type of items contained in that variable with data type int