<a href="https://colab.research.google.com/github/kinimuso/WTM-GDG-Bambili-100-Days-of-Code-Datascience/blob/main/Day_4__Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
list1 =["boy","house","children","they","pigs", 23.4, 15.0, 10.5, 2.4, 5.6, 16,22,39,42]

In [4]:
var1 = ("Hello" + " world")
list1 = ["boy","house","children","they","pigs", 23.4, 15.0, 10.5, 2.4, 5.6, 16,22,39,42]
list1.append(var1)
print(list1)

['boy', 'house', 'children', 'they', 'pigs', 23.4, 15.0, 10.5, 2.4, 5.6, 16, 22, 39, 42, 'Hello world']

In [ ]:
list4 = [65, 35, 23, 67, 89, 80.8, 65.8, 0.8, 66.8, 84.5, 34,6, "two","free","tree","men"]

In [5]:
list1 = ["boy","house","children","they","pigs", 23.4, 15.0, 10.5, 2.4, 5.6, 16,22,39,42]
list4 = [65, 35, 23, 67, 89, 80.8, 65.8, 0.8, 66.8, 84.5, 34,6, "two","free","tree","men"]

list5 = list1 + list4
print(list5)

['boy', 'house', 'children', 'they', 'pigs', 23.4, 15.0, 10.5, 2.4, 5.6, 16, 22, 39, 42, 65, 35, 23, 67, 89, 80.8, 65.8, 0.8, 66.8, 84.5, 34, 6, 'two', 'free', 'tree', 'men']

In [12]:
list2 =[5, 6, 7.0, "Eight", "Nine"]
list3 =[type(entry) for entry in list2]
print (list3)

[<class 'int'>, <class 'int'>, <class 'float'>, <class 'str'>, <class 'str'>]